[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "fgardinali.github.io"]
	path = fgardinali.github.io
	url = git@github.com:fgardinali/fgardinali.github.io.git
